<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::div})}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<div class="container d-flex flex-column mt-5">
    <div class="row align-items-center justify-content-center min-vh-100">
        <div class="col-12 col-md-8 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                     <div th:if="${session.message}" class="container">
                           <div class="alert alert-danger text-center" role="alert">
                                 <span th:text="${session.message}"></span>
                            </div>
                      </div>
                        <h3 class="card-title text-center">Change password</h3>
                        <div class="card-text">
                            <form th:action="@{/reset-password}" method="POST"> 
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Your new password</label>
                                    <input type="password" name="newPassword" class="form-control form-control-sm" id="exampleInputPassword1" >
                                </div>
                                <button type="submit" class="btn btn-primary btn-block submit-btn">Change Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
