<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::div})}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
	 <div class="container d-flex flex-column mt-5">
      <div class="row align-items-center justify-content-center min-vh-100">
        <div class="col-12 col-md-8 col-lg-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="mb-4">
				  <div th:if="${session.message}" class="container">
                         <div class="alert alert-danger text-center" role="alert">
                                 <span th:text="${session.message}"></span>
                                </div>
                            </div>
	
                <p class="mb-2 text-center">Enter your registered email ID
                </p>
              </div>
              <form th:action="@{/send-otp}" method="POST">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" id="email" class="form-control" name="email" placeholder="Enter Your Email"
                    required="">
                </div>
                <div class="mb-3 d-grid text-center">
                  <button type="submit" class="btn btn-warning">
                    Send OTP
                  </button>
                </div>
           
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>